
  
  <section class="hero">
   <div class="p1"><h2>Nos Produits</h2></div>
   <div class="p2"> <p>Bienvenue dans notre boutique de parapharmacie</p></div>
   <div class="p3">  <input type="text" class="search-bar" placeholder="Rechercher des produits..."></div>
   
    <p class="n">produit name</p>
    <div class="product-collection">
      <div class="product">
        <img src="assets/p1.jpg" alt="Produit 1">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
        <button class="b">Ajouter au panier</button> <i class="fa-solid fa-heart heart-icon" id="h"></i>
      </div>
      <div class="product">
        <img src="assets/p1.jpg" alt="Produit 2">
          <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
        <button class="b">Ajouter au panier</button> <i class="fa-solid fa-heart heart-icon" id="h"></i>
      </div>
      <div class="product">
        <img src="assets/p1.jpg" alt="Produit 3">
          <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
        <button class="b">Ajouter au panier</button> <i class="fa-solid fa-heart heart-icon" id="h"></i>
      </div>
      <div class="product">
        <img src="assets/p1.jpg" alt="Produit 4">
          <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
        <button class="b">Ajouter au panier</button> <i class="fa-solid fa-heart heart-icon" id="h"></i>
      </div>
      <div class="product">
        <img src="assets/p1.jpg" alt="Produit 4">
          <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
        <button class="b">Ajouter au panier</button> <i class="fa-solid fa-heart heart-icon" id="h"></i>
      </div>
      <div class="product">
        <img src="assets/p1.jpg" alt="Produit 4"> 
          <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
        <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
      </div>
    </div>
    <p class="n">produit name</p>
  <div class="product-collection">
    <div class="product">
      <img src="assets/p2.3.jpg" alt="Produit 1">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p2.3.jpg" alt="Produit 2">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p2.3.jpg" alt="Produit 3">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p2.3.jpg" alt="Produit 4">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p2.3.jpg" alt="Produit 4">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p2.3.jpg" alt="Produit 4">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
  </div>
  <p class="n">produit name</p>
  <div class="product-collection">
    <div class="product">
      <img src="assets/p5.jpg" alt="Produit 1">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p5.jpg" alt="Produit 2">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p5.jpg" alt="Produit 3">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p5.jpg" alt="Produit 4">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p5.jpg" alt="Produit 4">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p5.jpg" alt="Produit 4">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
  </div>
  <p class="n">produit name</p>
  <div class="product-collection">
    <div class="product">
      <img src="assets/p2.4.jpg" alt="Produit 1">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p2.4.jpg" alt="Produit 2">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p2.4.jpg" alt="Produit 3">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p2.4.jpg" alt="Produit 4">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p2.4.jpg" alt="Produit 4">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
    <div class="product">
      <img src="assets/p2.4.jpg" alt="Produit 4">
        <p>xxxxxxxxxxxxx</p>
        <p>prix </p>
      <button class="b">Ajouter au panier</button><i class="fa-solid fa-heart heart-icon" id="h"></i>
    </div>
  </div>
</section>