
<section class="hero">
    <div class="hero-image">
        <img src="assets/p4.jpg" alt="ppp">
      </div>
    <div class="hero-content">
     
      <h1>Votre Bien-Être, Notre Priorité</h1>
      <p id="p1">Découvrez une large gamme de produits de parapharmacie pour prendre soin de vous au quotidien.</p>
      <button  (click)="goToProducts()" >Découvrir Nos Produits</button>

    </div>
    
    <div class="hero-image">
      <img src="assets/p2.jpg" alt="ppp">
    </div>
    
  </section>
  <section class="featured-products">
  <h2>Meilleures ventes</h2> 
  
  <div class="product-collection">
    <div class="product">
      <img src="assets/p2.3.jpg" alt="Nouveau Produit 1">
      <h1>p1</h1>
      <p>tt</p>
      <button>Ajouter au panier</button>
    </div>
    <div class="product">
      <img src="assets/p1.jpg" alt="Nouveau Produit 2">
      <h1>p1</h1>
      <p>tt</p>
      <button>Ajouter au panier</button>
    </div>
    <div class="product">
      <img src="assets/p2.5.jpg" alt="Nouveau Produit 3">
      <h1>p1</h1>
      <p>tt</p>
      <button>Ajouter au panier</button>
    </div>
    <div class="product">
      <img src="assets/p5.jpg" alt="Nouveau Produit 4">
      <h1>p1</h1>
      <p>tt</p>
      <button>Ajouter au panier</button>
    </div>
  </div></section>
  <section class="service-banner">
    <div class="service">
      <h3>🚚Livraison gratuite</h3>
      <p>Pour toute commande supérieure à 50€</p>
    </div>
    <div class="service">
      <h3>💶Satisfait ou remboursé</h3>
      <p>Retour sous 30 jours</p>
    </div>
    <div class="service">
      <h3>📞 Assistance 24h/24</h3>
      <p>Support client disponible à tout moment</p>
    </div>
  </section>
  <section class="testimonials">
    <h2>Ce que disent nos clients</h2>
    
    <div class="testimonial-container">
      <div class="testimonial">
        <p>"Service rapide et produits de qualité. Je recommande vivement cette boutique de parapharmacie."</p>
        <h4>— mmmmmmm.</h4>
      </div>
      
      <div class="testimonial">
        <p>"Très satisfaite de ma commande. Le service client a été à l'écoute et très réactif."</p>
        <h4>— xxxxx.</h4>
      </div>
      
      <div class="testimonial">
        <p>"Les produits sont bien emballés, livraison rapide, je suis ravie !"</p>
        <h4>— llllll.</h4>
      </div>
    </div>
  </section>
  
  