.hero {
    display: flex;
    justify-content: space-between;
    
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 50px;
    background-color:#F4F7FA ;
    height: 1800px;
   
  }
  
  .hero-content {
    max-width: 40%;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    color: #333333;
  }
  
  .hero button {
    background: #638c65;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .hero-image img {
    max-width: 430px;
    border-radius: 10px;
  }
  p{
    font-family: 'Times New Roman', Times, serif;
  }
  